# Notebook Summary

The purpose of this notebook is to make sure that you're able to connect to the Alpaca Paper trading API. 

This notebook issues a variety of stock & crypto buy/sell orders and checks your account details to see trade & position status

# Save Alpaca Credentials in Your .env File

Make sure you have a .env file set up with your Alpaca API keys. The notebook is looking for your Alpaca API keys in this format: 

API_KEY = "xxx"

API_SECRET = "xxx"

# Paper Trading Account Demos

This notebook connects to your PAPER trading account with this url: 

https://paper-api.alpaca.markets

If you wish to test these functions with your LIVE account, change the url and update your API keys if needed. 

(These functions are taken mainly from the Alpaca Documentation with links below)

In [3]:
import pandas as pd
from twarc import Twarc2, expansions
import json
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import TimeFrame, TimeFrameUnit
import os
import datetime
import tweepy
import requests

#Twitter API Github Examples Found Here:
## https://github.com/twitterdev/getting-started-with-the-twitter-api-v2-for-academic-research/blob/main/modules/6a-labs-code-academic-python.md

In [4]:
# Load the environment variables from the .env file
load_dotenv()

True

# Create a Connection to the (Paper) Trading API

In [150]:
API_KEY = os.getenv("ALPACA_API_KEY")
API_SECRET = os.getenv("ALPACA_SECRET_KEY")
ALPACA_API_BASE_URL = "https://paper-api.alpaca.markets" #notice "PAPER" in the URL

In [151]:
# Create a connection to the API 
api = tradeapi.REST(API_KEY, API_SECRET, ALPACA_API_BASE_URL, api_version="v2")

# Test TSLA stock buy / sell orders & historical data collection

In [152]:
#grab historical data for TSLA stock

#https://github.com/alpacahq/alpaca-trade-api-python
test = api.get_bars("TSLA", TimeFrame.Hour, "2022-09-01", "2022-09-20", adjustment='raw').df
test.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-09-01 06:00:00+00:00,271.14,271.1400,271.1400,271.14,129,1,271.140000
2022-09-01 08:00:00+00:00,272.66,272.6600,268.9200,269.60,197093,6826,270.175173
2022-09-01 09:00:00+00:00,269.59,270.9788,269.1100,270.45,55033,2331,269.991851
2022-09-01 10:00:00+00:00,270.50,271.2300,270.1112,271.23,26419,971,270.651416
2022-09-01 11:00:00+00:00,271.25,273.9043,270.1200,273.00,280063,7015,272.263522

# Grab yesterday's closing price from Alpaca API

# Test Bitcoin buy / sell orders & historical data collection

In [153]:
#Bitcoin historical data collection

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
btc_data = api.get_crypto_bars("BTCUSD", TimeFrame.Hour).df
btc_data.head()
#exhanges are CBSE, ERSX, FTXU

,exchange,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,,
2022-09-22 05:00:00+00:00,CBSE,18705.69,18729.46,18616.48,18668.24,1159.751926,21243,18681.840712
2022-09-22 05:00:00+00:00,ERSX,18696.30,18728.00,18629.50,18673.90,7.189100,24,18659.568791
2022-09-22 05:00:00+00:00,FTXU,18698.00,18724.00,18629.00,18670.00,32.326200,194,18677.209821
2022-09-22 06:00:00+00:00,CBSE,18669.33,18876.24,18661.64,18768.71,1745.042018,29214,18763.377467
2022-09-22 06:00:00+00:00,ERSX,18726.70,18876.90,18701.70,18774.60,28.578325,106,18757.105780

In [177]:
#Test buy order submission

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
#market order to buy 1 bitcoin
api.submit_order('BTCUSD', qty=1, side='buy', time_in_force="gtc")

In [178]:
# Get account position

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
# Get current position on Bitcoin. Yields error if we don't hold any
api.get_position('BTCUSD')

In [179]:
#Test sell order submission
#NOTE: when I issued a buy order for 1 bitcoin, the quantity that I actually bought (shown in positions above) was actually listed as 0.9975. I don't know why this is (!)

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
#market order to buy 1 bitcoin
api.submit_order('BTCUSD', qty=.9975, side='sell', time_in_force="gtc") #quantity wasn't 1?

In [180]:
#Get position
#Will error out if your position is zero

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
# Get current position on Bitcoin. Yields error if we don't hold any
api.get_position('BTCUSD')

# Test Dogecoin buy / sell orders & historical data collection

In [162]:
#Dogecoin historical data collection

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
doge_data = api.get_crypto_bars("DOGEUSD", TimeFrame.Hour).df
doge_data.head()
#exhanges are CBSE, ERSX, FTXU

,exchange,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,,
2022-09-22 05:00:00+00:00,FTXU,0.057580,0.057682,0.057485,0.057682,45316,10,0.057493
2022-09-22 06:00:00+00:00,FTXU,0.057818,0.058000,0.057661,0.057899,45035,19,0.057862
2022-09-22 07:00:00+00:00,FTXU,0.057846,0.058549,0.057846,0.058515,502453,57,0.058443
2022-09-22 08:00:00+00:00,FTXU,0.058503,0.058984,0.058503,0.058766,692499,73,0.058609
2022-09-22 09:00:00+00:00,FTXU,0.058832,0.059057,0.058618,0.058825,232435,35,0.058852

In [181]:
# Issue market order to buy 1 dogecoin

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
#market order to buy 1 dogecoin
api.submit_order('DOGEUSD', qty=1, side='buy', time_in_force="gtc")

In [182]:
#Get dogecoin position

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
# Get current position on Bitcoin. Yields error if we don't hold any
api.get_position('DOGEUSD')

In [183]:
# Sell your dogecoin
# NOTE: make sure 'qty' in the statement above matches how much you need to sell!
# NOTE: for some reason, you can't sell less than 1 dogecoin

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
#market order to buy 1 bitcoin
api.submit_order('DOGEUSD', qty=1, side='sell', time_in_force="gtc") #quantity has to be >= 1??

In [184]:
#Get dogecoin position

#https://alpaca.markets/learn/code-cryptocurrency-live-trading-bot-python-alpaca/
# Get current position on Bitcoin. Yields error if we don't hold any
api.get_position('DOGEUSD')

In [167]:
# For me, I have fractional dogecoins left over from transactions (which is really weird)

# Get historical data and buy/sell Tesla stock

In [168]:
tsla_price = api.get_bars("TSLA", TimeFrame.Day, "2022-09-20", "2022-09-21", adjustment='raw').df 
#my "subscription" can't query data from the past 15 minutes
#need to figure out how to add time in the datestamp to get the hour
tsla_price

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-09-20 04:00:00+00:00,307.00,313.33,305.58,308.73,61689176,819819,309.304290
2022-09-21 04:00:00+00:00,308.29,313.80,300.63,300.80,62552372,836954,307.540263

In [185]:
#buy TSLA stock

#https://alpaca.markets/deprecated/docs/api-documentation/how-to/orders/
# Submit buy order (works for me)

api.submit_order(
    symbol="TSLA", 
    qty=1, 
    side="buy", 
    time_in_force="gtc", #?
    type="limit",  #or "market"
    limit_price=500 #update limit price. Picked 500 so the order will go through. 
)

In [186]:
# sell TSLA stock

# Submit sell order (works for me)

api.submit_order(
    symbol="TSLA", 
    qty=1, 
    side="sell", 
    time_in_force="gtc", #?
    type="limit",  #or "market"
    limit_price=200 #set low price so order could go through. Update limit price. 
)

# Other Useful Functions

Get account information

Get closed orders

Get open orders

Cancel open orders

Get account change relative to yesterday

In [174]:
#These statements print your account details. 

account = api.get_account()
account

In [176]:
# print closed orders

closed_orders = api.list_orders(
    status='closed',
    limit=100,
    nested=True  # show nested multi-leg orders
)

closed_orders = [o for o in closed_orders if o.symbol == 'TSLA']
print(closed_orders)

In [ ]:
# list all of your open orders: 

#https://forum.alpaca.markets/t/cancel-all-the-open-orders-using-python-api/2890/2

open_orders_list = api.list_orders(status='open')
open_orders_list

In [ ]:
# cancel all of your open orders:

#https://forum.alpaca.markets/t/cancel-all-the-open-orders-using-python-api/2890/2

api.cancel_all_orders()

In [ ]:
# list how much you gained / lost today relative to yesterday: 

#https://alpaca.markets/deprecated/docs/api-documentation/how-to/account/
#Print your daily profit / loss

balance_change = float(account.equity) - float(account.last_equity)
balance_change